body {

    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: white;
}


.header {
    background-image: url(./hardcore-bg.jpg);
    width: 100vw;
    height: 25vw;
    object-fit: cover;
}

.header h1 {
    font-size: 12rem;
    letter-spacing: 0.5rem;
    color: black;
    -webkit-text-stroke: 10px white;
    text-align: center;
    top: 8vh;
}

.form-section {
    display: flex;
    justify-content: space-between;
}

.poster {
    height: 60vh;
}

.vintage-poster {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    object-position: -50px 10px;
}


form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    height: 50vh;
}

.column1 {
    clear:right;
    display: flex;
    gap: 10px;
    margin: 10vh auto;
    text-align: center;
} 

.column2 {
    clear:right;
    display: flex;
    margin: 10vh auto;
    text-align: center;
}